.columns {
    display: flex;
    gap: 20px;
}
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-section, .friends-section, .tasks-section {
    background: #fff;
    color: #425c5a;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}

.search-section form {
    display: flex;
    gap: 10px;
}

.search-section input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 14px;
    outline: none;
    color: #425c5a;
    background-color: #f1f1f1;
    margin-top: 10px;
}

.search-section button {
    background: #425c5a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.search-section button:hover {
    background-color: #0056b3;
}

.search-results ul, .friends-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results ul li, .friends-section ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.search-results ul li:last-child, .friends-section ul li:last-child {
    border-bottom: none;
}

button {
    background: #425c5a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #c82333;
}

.no-results {
    text-align: center;
    color: #777;
}

.friend-item {
    position: relative;
    display: inline-block;
    margin: 10px 0;
}

.friend-hover {
    display: none;
    position: absolute;
    top: 100%; /* Az elem alatt jelenjen meg */
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 200px;
    text-align: center;
}

.friend-hover img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.friend-hover p {
    margin: 5px 0;
    color: #333;
    font-size: 14px;
}

.friend-item:hover .friend-hover {
    display: block;
}
