* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: Arial, sans-serif;
    background: #e2eceb;
}

.sidebar {
    width: 250px;
    /*    background: #1e1e2e;
        color: white;
        padding: 20px;*/
    background: #425c5a;
    border-top-right-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    height: 100vh;
    position: fixed;
}

.profile {
    padding: 40px 0;
    background: #3c5654;
    color: #fcfdfe;
    border-top-right-radius: 40px 40px;
}

.profile img {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.profile h2 {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px 0 10px 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    /*display: block;*/
    padding: 10px;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

nav ul li a img {
    width: 20px;  /* Adjust the size of the image */
    height: 20px; /* Adjust the size of the image */
    margin-right: 10px;  /* Add space between the image and the text */
}

nav ul li a:hover {
    border-top-left-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
    background: #e2eceb;
    color: #425c5a;
}

nav ul li.active a {
    border-top-left-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
    background: #e2eceb;
    color: #425c5a;
}

header {
    position: fixed;
    margin: 10px 0 0 270px;
    width: calc(100% - 280px);
    padding: 20px;
    background: #425c5a;
    border-radius: 40px;
    display: flex;
    justify-content: flex-end;
}

header .current-page {
    color: white;
    font-size: 1.5em;
    margin-right: auto;
}

header #language-selector {
    background: #ffffff;
    margin-right: 10px;
    padding: 0 10px;
    color: #3c5654;
    border-radius: 20px;
    cursor: pointer;
}

.main-content {

    border: 1px solid red;

    margin-left: 270px;
    margin-top: 100px;
    margin-right: 10px;
    flex-grow: 1;
    padding: 20px;
}